* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: #153e90;
}

#bookgrid {
    display:  grid;
    grid-template-columns: repeat(3,  300px);
    grid-template-rows: auto;
    grid-gap: 10px;
    background-color: #153e90;
    padding: 10px;
}

.book {
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
    width: 300px;
    height: 200px;
    padding: 5px;
    background-color: #54e346;
}

.book > p {
    margin: 5px;
}

button {
    border: none;
    border-radius: 10px;
    width: 200px;
    height: 40px;
    font-size: 20px;
    color: white;
    background-color: rgb(38, 77, 253);
    opacity: .8;
    margin: 5px;
}

button:hover {
    opacity: 1;
}

.openform {
    background-color: #0e49b5;

}

.btnDelete 
{
    background-color: rgb(255, 0, 0);
}





/* form css below*/
#formcontainer {
    display: none;
    background-color: rgba(0, 0, 0, 0.5);
    width: 300px;
    height: 450px;
    z-index: 9;
    position: fixed;
    top: 40px;
    margin:auto;

}

.addform {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: center;
    background-color: #0e49b5;
    width: 300px;
    height: 450px;
    position: fixed;
    top: 40px;
    margin:auto;

}

.addform > label {
    margin-left: 30px;
    margin-top: 10px;
    align-self: flex-start;  
}

.addform > input {
    width: 80%;
}

#statuscontainer {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: center;
    margin-top: 10px;
    width: 100%;
}

.statusbtn {
    color:black;
    opacity: .8;
    background-color: #fdbc2e; 
}

#btnadd {
    color:black;
   background-color: #54e346;
}