* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Nunito, sans-serif;
}

body {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: rgb(0, 183, 255);
}

.btn {
    border: none;
    border-radius: 10px;
    padding: 0 10px;
}

#wrapper {
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100%;
}

h1, main {
    width: 100%;
}



#buttonscontainer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    font-size: 20px;
    padding: 10px;
    background-color: red;
}

.addbtn {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: rgb(0, 25, 247);
    color: white;
    height: 40px;
    font-size: 20px;
    opacity: .8;
}

.btnplus {
    background-color: blue;
    color: white;
    width: 20px;
    height: 100%;
}

#bookscontainer {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    background-color: rgb(78, 66, 245);
    grid-gap: 10px;
    padding: 10px;
}

.book {
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
    background-color: rgb(255, 255, 255);
    height: auto;
    padding-top: 10px;
    border-radius: 10px;
}

h2 {
    font-size: 20px;
    margin: 10px;
    overflow: auto;
    
}

.togglebook {
    color: white;
    border: none;
    margin-top: auto;
    background-color: rgb(255, 0, 234);
    opacity: .8;
}

.deletebook {
    color: white;
    border: none;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: rgb(255, 0, 0);
    opacity: .8;
}

#formcontainer {
    display: none;
    background-color: rgba(0, 0, 0, 0.5);
    width: 300px;
    height: 450px;
    z-index: 9;
    position: fixed;
    top: 43px;
    left: 0;
    right: 0;
    bottom: 0;
}

.addform {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: center;
    background-color: rgb(74, 101, 255);
    width: 300px;
    height: 450px;
    position: fixed;
    top: 43px;
    left: 0;
    right: 0;
    bottom: 0;
}

.addform > label {
    margin-left: 30px;
    margin-top: 10px;
    align-self: flex-start;  
}

.addform > input {
    width: 80%;
}

#statuscontainer {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: center;
    margin-top: 10px;
    width: 100%;
}

.statusbtn {
    width: 30%;
    height: 30px;
    opacity: .8;
    background-color: rgb(255, 255, 255); 
}

#btnadd {
   background-color: red;
}

.btn:hover {
    opacity: 1;
}
